anyio
arabic-reshaper
arrow
asgiref
asn1crypto
asttokens
beautifulsoup4
binaryornot
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
contourpy
cookiecutter
coreapi
coreschema
crispy-bootstrap5
cryptography
cssselect2
cycler
debugpy
decorator
distlib
dj-database-url
Django
django-bootstrap-v5
django-browser-reload
django-cors-headers
django-crispy-forms
django-email
django-environ
django-extensions
django-filter
django-jquery
django-json-field
django-jsonfield
django-six
django-tailwind
djangorestframework
djangorestframework-simplejwt
dnspython
drf-yasg
email_validator
et_xmlfile
executing
fastapi
fastapi-cli
filelock
fonttools
future
greenlet
h11
html5lib
httpcore
httptools
httpx
idna
inflection
ipykernel
ipython
itypes
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kagglehub
kiwisolver
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
nest-asyncio
numpy
openapi-codec
opencv-python
openpyxl
orjson
oscrypto
packaging
pandas
parso
pdfkit
Pillow
pipenv
platformdirs
prompt_toolkit
psutil
psycopg2
psycopg2-binary
pure_eval
pycparser
pydantic
pydantic_core
Pygments
pyHanko
pyhanko-certvalidator
PyJWT
PyMySQL
pyparsing
pypdf
pypng
python-bidi
python-dateutil
python-dotenv
python-multipart
python-slugify
pytz
pywin32
PyYAML
pyzmq
qrcode
reportlab
requests
rich
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
seaborn
setuptools
shellingham
six
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
svglib
text-unidecode
threadpoolctl
tinycss2
tornado
tqdm
traitlets
typer
types-python-dateutil
typing_extensions
tzdata
tzlocal
ujson
uritemplate
uritools
urllib3
uvicorn
virtualenv
virtualenvwrapper-win
watchfiles
wcwidth
webencodings
websockets
xhtml2pdf